html{
	height:100%;
	margin:0;
	padding:0;
	width:100%;
	background-color:#242424;
	font-family:arial;
	font-size:32px;
}
body{
	height:100%;
	margin:0 auto;
	padding:0;
}
#logo  {
	background-color:#242424;
	color:#F1F1F1;
	font-size:43px;
	padding:15px 0 6px;
	text-shadow:0 0 2px #FFFFFF;
}
#logo a {
	color:#F1F1F1;
}
#container{
	width:100%;
	background-color:#000;
	vertical-align: middle;
}

.ui-tooltip {
	background-color:	white;
	color:				black;
	border: 			2px solid green;
	width:				600px;
	font-size:			smaller;
}
.ui-tooltip dt
{
	font-weight: bold;
	border-bottom: solid 1px #cccccc;
	color: #999999;
}

.ui-tooltip dd
{
	margin-left: 0em;
}


.item{
	float:left;
/*
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
*/
	width: 255px;
	height: 255px;
	margin-left: 50px ;
	margin-top: 0px ;
	margin-right: 0px ;
	margin-bottom: 110px ;
	z-index auto;
}

.item img{
	border:1px solid #fff;
}

.item:hover{
	float:left;
	width: 255px;
	height: 255px;
	-webkit-box-shadow:0px 0px 30px #ccc;
	-moz-box-shadow:0px 0px 30px #ccc;	
	-o-box-shadow:0px 0px 30px #ccc;
/*
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	z-index 9999;
*/
}



a{
color: rgb(0, 114, 191); text-decoration: none;	
}
.heading{
	font-size:24px;
	color:#dfdfdf;
	text-align:center;
	padding-top:20px;
}
a{
color: rgb(0, 114, 191); text-decoration: none;	
}
.msg{
	color:#dfdfdf;
	text-align:center;
	font-size:21px;
	white-space: normal;
}
.clearfix{
	clear:both;
	float:none;
}

.search_input {
	background-color: #D4D0C8; /* 背景 */
	border: 1px solid #999999; /* 罫線 */
	font-size:42px;
	font-weight:bold;
}

.select_mark {
	-webkit-border-radius: 10px; /* Safari, Chrome用 */
	-moz-border-radius: 10px; /* Firefox用 */
	-ie-border-radius: 10px; /* Firefox用 */
	border-radius: 10px; /* CSS3 */
	border:1px solid #fff;
	background-color: #394;
}

/* clerfix */
.clear:after {
    content:"";
    display:block;
    overflow:hidden;
}
.clear:after {
    clear:both;
}
.clear {
    zoom:1;
}

.actionname {
	border-left: 10px solid #ddd;
}
.actionname.selected {
	border-left: 10px solid #ff0;
}

/* タブ */
ul.tab {
	margin: 0;
	padding: 0;
	border-bottom: 2px #ddd solid;
}
ul.tab li {
	float: left;
	margin: 0 0 0 5px;
	position: relative;
	bottom: -2px;
	list-style-type: none;
	border: 1px #ddd solid;
	border-top: none;
	border-bottom: 2px #ddd solid;
}
ul.tab li.selected {
	border-bottom: 2px #fff solid;
	font-weight: bold;
}
ul.tab li a {
	color: #000;
	display: block;
	padding: 3px 10px 5px;
	text-decoration: none;
	background: #fff;
}
ul.tab li a.blue {
	border-top: 5px #2384dc solid;
}
ul.tab li a.green {
	border-top: 5px #4cbb47 solid;
}
ul.tab li a.red {
	border-top: 5px #dd1d25 solid;
}
ul.tab li a.yellow {	
	border-top: 5px #ffd242 solid;
}
ul.tab li a:hover {
	position: relative;
	bottom: 6px;
}

/* ヘッダーバー */
ul.headerbar {
	margin: 0;
	padding: 0;
	background: #111;
}
ul.headerbar li {
	float: left;
	margin: 0 0 0 5px;
	position: relative;
	bottom: -2px;
	list-style-type: none;
	
	font-size:smaller;
}
ul.headerbar li.selected a {
	color: #157;
	display: block;
	padding: 3px 10px 5px;
	text-decoration: none;
	background: #111;
}
ul.headerbar li a {
	color: #bbb;
	display: block;
	padding: 3px 10px 5px;
	text-decoration: none;
	background: #111;
}

ul.headerbar li a:hover {
	position: relative;
	bottom: 6px;
}
