html{
	height:100%;
	margin:0;
	padding:0;
	width:100%;
	background-color:#242424;
	font-family:arial;
	font-size:32px;
}
body{
	height:100%;
	margin:0 auto;
	padding:0;
}
#logo  {
	background-color:#242424;
	color:#F1F1F1;
	font-size:43px;
	padding:15px 0 6px;
	text-shadow:0 0 2px #FFFFFF;
}
#logo a {
	color:#F1F1F1;
}
#container{
	width:100%;
	background-color:#000;
	vertical-align: middle;
}

.img{
	float:left;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	width: 255px;
	height: 255px;
	margin-left: 50px ;
	margin-top: 0px ;
	margin-right: 0px ;
	margin-bottom: 110px ;
	z-index auto;
}

.img img{
	border:1px solid #fff;
}

.img:hover{
	float:left;
	width: 255px;
	height: 255px;
	-webkit-transform:scale(1.2);
	-webkit-box-shadow:0px 0px 30px #ccc;
	-moz-transform:scale(1.2);
	-moz-box-shadow:0px 0px 30px #ccc;	
	-o-transform:scale(1.2);
	-o-box-shadow:0px 0px 30px #ccc;
	z-index 9999;
}



a{
color: rgb(0, 114, 191); text-decoration: none;	
}
.heading{
	font-size:24px;
	color:#dfdfdf;
	text-align:center;
	padding-top:20px;
}
a{
color: rgb(0, 114, 191); text-decoration: none;	
}
.msg{
	color:#dfdfdf;
	text-align:center;
	font-size:21px;
	white-space: normal;
}
.clearfix{
	clear:both;
	float:none;
}

.search_input {
	background-color: #D4D0C8; /* îwåi */
	border: 1px solid #999999; /* årê¸ */
	font-size:42px;
	font-weight:bold;
}

.select_mark {
	-webkit-border-radius: 10px; /* Safari, Chromeóp */
	-moz-border-radius: 10px; /* Firefoxóp */
	-ie-border-radius: 10px; /* Firefoxóp */
	border-radius: 10px; /* CSS3 */
	border:1px solid #fff;
	background-color: #394;
}

